.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  justify-content: space-between;
}

.tooltipElement {
  background: #1C2544;
  border-radius: 2px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px;
  font-weight: 100;
  margin-left: 5px;
  margin-top: 5px;
}

.tooltipWrapper {
  background-color: lightblue;
}

.inline {
  display: inline-block;
}
